@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@600&display=swap');

/*initial Design | Configuration*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;   
}
/*Body Design*/
body{
    font-family: 'Red Rose',cursive;
    font-size: 16px;
    line-height: 1.5em;
}


.content {
    min-height: 600px;
  padding: 20px;
  width: 80%;
  overflow: hidden;
}

.container{
        width: 80%;
    margin: auto;
    overflow: hidden;
}
/*Navigation Design*/
nav {
    display: flex;
    justify-content: space-around;
    min-height: 7vh;
    background-color: #24254c;
    padding-top: 10px;
    transition: all .5s ease; 
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

.logo a:hover{
    color: tomato;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    transition: all .5s ease; 
}
.nav-links a:hover{
    color: tomato;
}


/*footer Design*/
footer{
    background: #24254c;
    color: #ffffff;
    text-align: center;
    min-height: fit-content;
    margin: auto;
    overflow: hidden;
    transition: all .5s ease; 
}

footer .socials{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
    text-align: center;
}

footer .socials a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0px 12px;
    transition: all .5s ease; 
    padding: 20px;
}
footer .socials a:hover{
    color: tomato;
}

.copyright p {
    float:left;
    padding: 0px;
    width: 100%;
}
.copyright p:first-child{
    padding-top: 5px;
}
















/*Responsive and mobile view Design*/
.mobile-view{
    display: none;
    cursor: pointer;
}
.mobile-view div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
}
@media screen and (max-width:1024px){
   .nav-links{
       width: 60%;
   }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #24254c;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .mobile-view{
        display: block;
    }
    nav:active{
        transform: translateX(0%);
    }
}
